<div class="bg-light py-5">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 bg-white mb-2  p-4  border">
        <img class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
          alt="image">
      </div>
      <div class="col-md-6">
        <div class="px-4">
          <h3>Welcome to <span class="s-color b-font ">LUXSEETER</span> it's one of the best companies in
            digital marketing</h3>
          <p class="py-3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
            graphic or web designs.</p>
          <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
            used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
            15th century.</p>
          <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
            used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
            15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
            type specimen book.</p>
          <a routerLink="/about" class="btn btn-lg btn-sub rounded-0 page">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-3 header-body">
  <div class="pt-3">
    <h3 class="d-inline-block">What we will offer for you</h3>
  </div>
  <div class="offers py-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card py-3">
          <div class="text-center off-icons"><i class="fas fa-lightbulb fa-3x"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center">MARKETING</h5>
            <hr class="offers-title">
            <p class="card-text text-center text-muted " style="font-size:small">Lorem ipsum is a pseudo-Latin text used
              in web design, typography, layout, and printing in place of English to emphasise design elements over
              content. It's also called placeholder (or filler).</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-3">
          <div class="text-center off-icons"><i class="fas fa-bicycle fa-3x"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center">BRANDING</h5>
            <hr class="offers-title">
            <p class="card-text text-center text-muted " style="font-size:small">Lorem ipsum is a pseudo-Latin text used
              in web design, typography, layout, and printing in place of English to emphasise design elements over
              content. It's also called placeholder (or filler).</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-3">
          <div class="text-center off-icons"><i class="fas fa-signal fa-3x"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center">PRESENTATION</h5>
            <hr class="offers-title">
            <p class="card-text text-center text-muted " style="font-size:small">Lorem ipsum is a pseudo-Latin text used
              in web design, typography, layout, and printing in place of English to emphasise design elements over
              content. It's also called placeholder (or filler).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-profile></app-home-profile>
<app-home-services></app-home-services>
