<footer>
    <div class="first-foo">
        <div class="container text-white py-5">
            <div class="row text-left">
                <div class="col-md-8">
                    <h3 class="text-capitalize">Start your journey <span> with us!</span></h3>
                    <p>We help you to create any website quickly a pixel perfect
                        flexibility and performance. </p>
                </div>
                <div class="col-md-4 text-center py-2">
                    <a class="btn btn-lg btn-sub text-white py-2 page" routerLink="/contact">GET STARTED NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="second-foo pt-5 pb-2">
        <div class="container pt-4 pb-2">
            <h3 class="text-center b-font text-white"><span class="s-color">LUX</span>SWEET</h3>
            <div class="row pt-5">
                <div class="col-md-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 text-center pt-4 footer-icon">
                                <i class="fas fa-map-marker-alt fa-3x"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">ADDRESS</h5>
                                    <p class="card-text"><small>Address: No.56 street Lorem ipsum is a pseudo-Latin text used</small></p>
                                    <p class="card-text"><small>Address: No.56 street Lorem ipsum is a pseudo-Latin text used</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 text-center pt-4 footer-icon">
                                <i class="fas fa-mug-hot fa-3x"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">WORKING HOURS</h5>
                                    <p class="card-text"><small>SAT &amp; SUN  From <span class="d-block">5 PM - 10 AM</span></small></p>
                                    <p class="card-text"><small>MON &amp; WEN  From <span class="d-block">10 PM - 3 AM</span></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 text-center pt-4 footer-icon">
                                <i class="fas fa-phone-alt fa-3x"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PHONE AND FAX</h5>
                                    <p class="card-text"><small>PHONE <span class="d-block">+201280630891</span></small></p>
                                    <p class="card-text"><small>FAX<span class="d-block">000 000 00 00</span></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="links">
                <ul class="list-unstyled text-center">
                    <li class="d-inline-block p-2"><a class="f-color" href="#">Home</a></li>
                    <li class="d-inline-block p-2"><a class="f-color" href="#">About us</a></li>
                    <li class="d-inline-block p-2"><a class="f-color" href="#">Portfolio</a></li>
                    <li class="d-inline-block p-2"><a class="f-color" href="#">Contact</a></li>
                </ul>
            </div>
            <hr style="border-bottom: 1px solid rgb(139, 136, 136);;">
            <div class="links text-center">
                <ul class="list-unstyled text-center  d-inline-block bg-white">
                    <li class="d-inline-block p-2 border border-dark"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                    <li class="d-inline-block p-2 border border-dark"><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li class="d-inline-block p-2 border border-dark"><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                    <li class="d-inline-block p-2 border border-dark"><a href="#"><i class="fab fa-github fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="py-1 text-center text-muted">
                <p>&copy; Designed &amp; Developed By Mohamed Hendy</p>
            </div>
        </div>
        
    </div>
    
</footer>