nav {
  a {
    color: white;
  }
  .md-logo {
    margin-left: 1rem;
    font-size: 1.8rem;
  }
  .navbar-brand,
  .md-logo {
    font-family: "Ma Shan Zheng", cursive;
    font-family: "Girassol", cursive;
  }
}
