<div class="home-header">
    <div class="overlay"></div>
    <video autoplay muted loop id="myVideo">
        <source src="./assets/videos/Laboratory.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="container text-center home-content text-white position-relative py-5">
        <h1 class="text-center b-font  pt-5">LUXSWEETER</h1>
        <div class=" mx-auto">
            <div class="py-3 text-center">
                <p class="mx-auto" >Reference site about Lorem Ipsum, giving information on its origins, as well as a random
                    Lipsum generator.
                </p>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-global" routerLink="/about">EXPLORE MORE</a>
        </div>
    </div>
</div>
<app-header-body></app-header-body>