<div class="ex-services py-5">
    <div class="overlay"></div>
    <div class="container info-services py-5">
        <div class="row  text-white">
            <div class="col-1 d-xs-none">
                <span class="fun-fact font-weight-bold f-color">FUN FACT</span>
            </div>
            <div class="col-lg-4 col-md-6 col-10 services-head">
                <h2 class="d-inline-block font-weight-normal ">We Expect <span class="font-weight-bold">Excellent</span>
                    Services</h2>
            </div>
        </div>
        <div id="counter" class="row text-center text-white py-5">
            <div class="col-sm-3 counter-Txt py-3">
                <span class="d-block"><i class="fas fa-users fa-3x"></i></span>
                <span class="counter-value py-2 d-block" data-count="350">0 +</span>
                <span class="d-block">Happy client</span>
            </div>
            <div class="col-sm-3 counter-Txt py-3">
                <span class="d-block"><i class="fas fa-laptop-code fa-3x"></i></span>
                <span class="counter-value py-2 d-block" data-count="9873">0 +</span>
                <span class="d-block">Lines of code</span>
            </div>
            <div class="col-sm-3 counter-Txt py-3">
                <span class="d-block"><i class="fas fa-medal fa-3x"></i></span>
                <span class="counter-value py-2 d-block" data-count="08">0 +</span>
                <span class="d-block"> Awards received</span>
            </div>
            <div class="col-sm-3 counter-Txt py-3">
                <span class="d-block"><i class="fas fa-chart-bar fa-3x"></i></span>
                <span class="counter-value py-2 d-block" data-count="80">0 +</span>
                <span class="d-block">Studies</span>
            </div>
        </div>
    </div>
</div>