.ex-services {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/03/53/athletes-1867185_960_720.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
    .info-services{
        position: relative;
        .fun-fact {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding: 0 2rem 0 0;
            @media (max-width: 768px) { 
                padding: 0;
             }
        }
        .services-head {
            @media (min-width: 575.98px) { 
                padding-left: 0 !important;
                padding-right: 0 !important;
             }
        }
        .counter-value{
            font-size: 2rem;
        }
    }
}