<div class="about-header ex-services p-5 text-center">
    <div class="overlay"></div>
    <div class="position-relative text-white">
        <h2 class="text-uppercase text-center pt-5 f-color">Lorem ipsum</h2>
        <div class="row">
            <div class="offset-md-3"></div>
            <div class="col-md-6">
                <p class="  mx-auto py-2 position-relative">or lipsum as it is sometimes known, is dummy text
                    used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter
                    in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                    for use in a type specimen book.</p>
            </div>
        </div>
        <a class="btn btn-sub page" routerLink="/contact">Contact</a>
    </div>
</div>
<div class="container">
    <h2 class="text-uppercase text-center py-5">Who <span class="s-color">LUXSWEET</span></h2>
</div>
<div class="bg-light py-5">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 bg-white mb-2  p-4  border">
          <img class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg"
            alt="image">
        </div>
        <div class="col-md-6">
          <div class="px-4">
            <h3 class="text-uppercase">Lorem ipsum, or lipsum as it is sometimes known</h3>
            <p class="py-3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
              graphic or web designs.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
              type specimen book.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-5">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="px-4">
            <h3 class="text-uppercase">Lorem ipsum, or lipsum as it is sometimes known</h3>
            <p class="py-3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
              graphic or web designs.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
              type specimen book.</p>
          </div>
        </div>
        <div class="col-md-6 bg-white mb-2  p-4  border">
            <img class="w-100 h-100" src="https://cdn.pixabay.com/photo/2018/03/21/08/10/entrepreneur-3245868_960_720.jpg"
              alt="image">
          </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-5">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 bg-white mb-2  p-4  border">
          <img class="w-100 h-100" src="https://cdn.pixabay.com/photo/2018/11/02/09/41/business-3789889_960_720.jpg"
            alt="image">
        </div>
        <div class="col-md-6">
          <div class="px-4">
            <h3 class="text-uppercase">Lorem ipsum, or lipsum as it is sometimes known</h3>
            <p class="py-3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
              graphic or web designs.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century.</p>
            <p class="text-muted" style="font-size: small;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text
              used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
              15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
              type specimen book.</p>
          </div>
        </div>
      </div>
    </div>
  </div>