<div class="pro-content position-relative">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="header-wh"> 
                <h1 class="text-uppercase text-center">Reference site Lorem Ipsum</h1>
                <div class="items">
                    <div class="input-group">
                        <input type="text" class="form-control btn-lg text-center mt-0 pt-0" placeholder="What you are looking for">
                        <i class="fas fa-search pt-3"></i>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>