<app-services-header></app-services-header>
<div class="container py-5">
    <div class="row pt-5">
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <img class="w-100 h-100"
                src="https://docs.newrelic.com/sites/default/files/thumbnails/image/device-iphone-apm-dashboard.png"
                alt="">
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body text-right">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body text-right">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body text-right">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;border: 0;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body text-right">
                            <h5 class="card-title font-weight-bold">Lorem</h5>
                            <p class="card-text"><small>Lorem ipsum is a pseudo-Latin text is dummy text used in laying
                                    out print</small></p>

                        </div>
                    </div>
                    <div class="col-md-4 text-center pt-4 footer-icon">
                        <i class="fas fa-globe-europe fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-services-details></app-services-details>