<div class="container">
    <div class="card-group">
        <div class="card my-4">
            <img class="card-img-top"
                src="https://pbs.twimg.com/profile_images/1162795031700365312/n6fgwwaV_400x400.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">VISION</h5>
                <p class="card-text text-muted">Lorem ipsum is a pseudo-Latin text used in web design, typography,
                    layout, and printing in place of English to emphasise design elements over content</p>
            </div>
            <div class="card-footer text-center text-vision">
                <small class="text-white">Lorem ipsum is a pseudo-Latin</small>
            </div>
        </div>
        <div class="card my-4">
            <img class="card-img-top"
                src="https://s3.amazonaws.com/images.hiresphoto.com/cup-of-coffe-and-a-hat-for-business-400x400.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">SOCIETY</h5>
                <p class="card-text text-muted">Lorem ipsum is a pseudo-Latin text used in web design, typography,
                    layout, and printing in place of English to emphasise design elements over content</p>
            </div>
            <div class="card-footer text-center text-society">
                <small class="text-white">Lorem ipsum is a pseudo-Latin</small>
            </div>
        </div>
        <div class="card my-4">
            <img class="card-img-top"
                src="https://is2-ssl.mzstatic.com/image/thumb/Podcasts123/v4/a5/61/e2/a561e246-8b15-e0ca-a5d5-31bfac90e83a/mza_765297665351747351.png/400x400bb.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">INVESTMENT</h5>
                <p class="card-text text-muted">Lorem ipsum is a pseudo-Latin text used in web design, typography,
                    layout, and printing in place of English to emphasise design elements over content</p>
            </div>
            <div class="card-footer text-center text-investment">
                <small class="text-white">Lorem ipsum is a pseudo-Latin</small>
            </div>
        </div>
    </div>
</div>